@page "/enterprises"
@attribute [Authorize(FinancingPermissions.Enterprises.Default)]
@using Tank.Financing.Enterprises
@using Tank.Financing.Localization
@using Tank.Financing.Shared
@using Microsoft.AspNetCore.Authorization
@using Microsoft.Extensions.Localization
@using Blazorise.Components
@using Volo.Abp.BlazoriseUI.Components
@using Volo.Abp.ObjectMapping
@using Volo.Abp.AspNetCore.Components.Messages
@using Volo.Abp.AspNetCore.Components.Web.Theming.Layout
@using Tank.Financing.Permissions
@inherits FinancingComponentBase
@inject IEnterprisesAppService EnterprisesAppService
@inject IUiMessageService UiMessageService
@using Tank.Financing


@* ************************* PAGE HEADER ************************* *@
<PageHeader Title="@L["Enterprises"]" BreadcrumbItems="BreadcrumbItems" Toolbar="Toolbar">

</PageHeader>

@* ************************* SEARCH ************************* *@
<Card>
    <CardBody>
        <Form id="EnterpriseSearchForm" class="mb-3">
            <Addons>
                <Addon AddonType="AddonType.Body">
                    <TextEdit @bind-Text="@Filter.FilterText"
                              Autofocus="true"
                              Placeholder="@L["Search"]">
                    </TextEdit>
                </Addon>
                <Addon AddonType="AddonType.End">
                    <SubmitButton Form="EnterpriseSearchForm" Clicked="GetEnterprisesAsync">
                        <Icon Name="IconName.Search" Class="me-1"></Icon>@L["Search"]
                    </SubmitButton>
                </Addon>
            </Addons>
        </Form>
    </CardBody>
</Card>

@* ************************* DATA GRID ************************* *@
<Card>
    <CardBody>
        <DataGrid TItem="EnterpriseDto"
                  Data="EnterpriseList"
                  ReadData="OnDataGridReadAsync"
                  TotalItems="TotalCount"
                  ShowPager="true"
                  Responsive="true"
                  PageSize="PageSize">
            <DataGridColumns>
                <DataGridEntityActionsColumn TItem="EnterpriseDto" @ref="@EntityActionsColumn">
                    <DisplayTemplate>
                        <EntityActions TItem="EnterpriseDto" EntityActionsColumn="@EntityActionsColumn">
                            <EntityAction TItem="EnterpriseDto"
                                          Visible="@CanEditEnterprise"
                                          Clicked="async () => await OpenEditEnterpriseModalAsync(context)"
                                          Text="@L["Edit"]"></EntityAction>
                            <EntityAction TItem="EnterpriseDto"
                                          Visible="@CanDeleteEnterprise"
                                          Clicked="() => DeleteEnterpriseAsync(context)"
                                          ConfirmationMessage="@(()=> L["DeleteConfirmationMessage"])"
                                          Text="@L["Delete"]"></EntityAction>
                        </EntityActions>
                    </DisplayTemplate>
                </DataGridEntityActionsColumn>
               
              <DataGridColumn TItem="EnterpriseDto"
                      Field="EnterpriseName"
                      Caption="@L["EnterpriseName"]">
              </DataGridColumn>

              <DataGridColumn TItem="EnterpriseDto"
                      Field="ArtificialPerson"
                      Caption="@L["ArtificialPerson"]">
              </DataGridColumn>

              <DataGridColumn TItem="EnterpriseDto"
                      Field="EstablishedTime"
                      Caption="@L["EstablishedTime"]">
              </DataGridColumn>

              <DataGridColumn TItem="EnterpriseDto"
                      Field="DueTime"
                      Caption="@L["DueTime"]">
              </DataGridColumn>

              <DataGridColumn TItem="EnterpriseDto"
                      Field="CreditCode"
                      Caption="@L["CreditCode"]">
              </DataGridColumn>

              <DataGridColumn TItem="EnterpriseDto"
                      Field="ArtificialPersonId"
                      Caption="@L["ArtificialPersonId"]">
              </DataGridColumn>

              <DataGridColumn TItem="EnterpriseDto"
                      Field="RegisteredCapital"
                      Caption="@L["RegisteredCapital"]">
              </DataGridColumn>

              <DataGridColumn TItem="EnterpriseDto"
                      Field="PhoneNumber"
                      Caption="@L["PhoneNumber"]">
              </DataGridColumn>

              <DataGridColumn TItem="EnterpriseDto"
                      Field="CertPhotoPath"
                      Caption="@L["CertPhotoPath"]">
              </DataGridColumn>

              <DataGridColumn TItem="EnterpriseDto"
                      Field="IdPhotoPath1"
                      Caption="@L["IdPhotoPath1"]">
              </DataGridColumn>

              <DataGridColumn TItem="EnterpriseDto"
                      Field="IdPhotoPath2"
                      Caption="@L["IdPhotoPath2"]">
              </DataGridColumn>

              <DataGridColumn TItem="EnterpriseDto"
                      Field="CertificateStatus"
                      Caption="@L["CertificateStatus"]">
                    <DisplayTemplate>
                        @L[$"Enum:CertificateStatus:{Convert.ToInt32(context.CertificateStatus)}"]
                    </DisplayTemplate>
              </DataGridColumn>


            </DataGridColumns>
        </DataGrid>
    </CardBody>
</Card>

@* ************************* CREATE MODAL ************************* *@
<Modal @ref="CreateEnterpriseModal">
    <ModalContent Centered="true">
        <Form id="CreateEnterpriseForm">
            <ModalHeader>
                <ModalTitle>@L["NewEnterprise"]</ModalTitle>
                <CloseButton Clicked="CloseCreateEnterpriseModalAsync" />
            </ModalHeader>
            <ModalBody>
                <Validations @ref="@NewEnterpriseValidations"
                            Mode="ValidationMode.Auto"
                            Model="@NewEnterprise"
                            ValidateOnLoad="false">
                    
                    <Validation>
                        <Field>
                            <FieldLabel>@L["EnterpriseName"] *</FieldLabel>
                            <TextEdit @bind-Text="@NewEnterprise.EnterpriseName" >
                                <Feedback>
                                    <ValidationError />
                                </Feedback>
                            </TextEdit>
                        </Field>
                    </Validation>


                    <Validation>
                        <Field>
                            <FieldLabel>@L["ArtificialPerson"] *</FieldLabel>
                            <TextEdit @bind-Text="@NewEnterprise.ArtificialPerson" >
                                <Feedback>
                                    <ValidationError />
                                </Feedback>
                            </TextEdit>
                        </Field>
                    </Validation>


                    <Validation>
                        <Field>
                            <FieldLabel>@L["EstablishedTime"] *</FieldLabel>
                            <NumericEdit TValue="long" @bind-Value="@NewEnterprise.EstablishedTime" >
                                <Feedback>
                                    <ValidationError />
                                </Feedback>
                             </NumericEdit>
                        </Field>
                     </Validation>


                    <Validation>
                        <Field>
                            <FieldLabel>@L["DueTime"]</FieldLabel>
                            <NumericEdit TValue="long" @bind-Value="@NewEnterprise.DueTime" >
                                <Feedback>
                                    <ValidationError />
                                </Feedback>
                             </NumericEdit>
                        </Field>
                     </Validation>


                    <Validation>
                        <Field>
                            <FieldLabel>@L["CreditCode"] *</FieldLabel>
                            <TextEdit @bind-Text="@NewEnterprise.CreditCode" >
                                <Feedback>
                                    <ValidationError />
                                </Feedback>
                            </TextEdit>
                        </Field>
                    </Validation>


                    <Validation>
                        <Field>
                            <FieldLabel>@L["ArtificialPersonId"] *</FieldLabel>
                            <TextEdit @bind-Text="@NewEnterprise.ArtificialPersonId" >
                                <Feedback>
                                    <ValidationError />
                                </Feedback>
                            </TextEdit>
                        </Field>
                    </Validation>


                    <Validation>
                        <Field>
                            <FieldLabel>@L["RegisteredCapital"] *</FieldLabel>
                            <TextEdit @bind-Text="@NewEnterprise.RegisteredCapital" >
                                <Feedback>
                                    <ValidationError />
                                </Feedback>
                            </TextEdit>
                        </Field>
                    </Validation>


                    <Validation>
                        <Field>
                            <FieldLabel>@L["PhoneNumber"] *</FieldLabel>
                            <TextEdit @bind-Text="@NewEnterprise.PhoneNumber" >
                                <Feedback>
                                    <ValidationError />
                                </Feedback>
                            </TextEdit>
                        </Field>
                    </Validation>


                    <Validation>
                        <Field>
                            <FieldLabel>@L["CertPhotoPath"] *</FieldLabel>
                            <TextEdit @bind-Text="@NewEnterprise.CertPhotoPath" >
                                <Feedback>
                                    <ValidationError />
                                </Feedback>
                            </TextEdit>
                        </Field>
                    </Validation>


                    <Validation>
                        <Field>
                            <FieldLabel>@L["IdPhotoPath1"] *</FieldLabel>
                            <TextEdit @bind-Text="@NewEnterprise.IdPhotoPath1" >
                                <Feedback>
                                    <ValidationError />
                                </Feedback>
                            </TextEdit>
                        </Field>
                    </Validation>


                    <Validation>
                        <Field>
                            <FieldLabel>@L["IdPhotoPath2"] *</FieldLabel>
                            <TextEdit @bind-Text="@NewEnterprise.IdPhotoPath2" >
                                <Feedback>
                                    <ValidationError />
                                </Feedback>
                            </TextEdit>
                        </Field>
                    </Validation>


                    <Field>
                        <FieldLabel>@L["CertificateStatus"]</FieldLabel>
                        <Select TValue="CertificateStatus" @bind-SelectedValue="@NewEnterprise.CertificateStatus">
                            @foreach (var itemValue in Enum.GetValues(typeof(CertificateStatus)))
                            {
                                <SelectItem TValue="CertificateStatus" Value="@((CertificateStatus) itemValue)">
                                    @L[$"Enum:CertificateStatus:{Convert.ToInt32(itemValue)}"]
                                </SelectItem>
                            }
                        </Select>
                    </Field>


                </Validations>
            </ModalBody>
            <ModalFooter>
                <Button Color="Color.Secondary"
                        Clicked="CloseCreateEnterpriseModalAsync">
                    @L["Cancel"]
                </Button>
                <SubmitButton Form="CreateEnterpriseForm" Clicked="CreateEnterpriseAsync" />
            </ModalFooter>
        </Form>
    </ModalContent>
</Modal>

@* ************************* EDIT MODAL ************************* *@
<Modal @ref="EditEnterpriseModal">
    <ModalContent Centered="true">
        <Form id="EditEnterpriseForm">
            <ModalHeader>
                <ModalTitle>@L["Update"]</ModalTitle>
                <CloseButton Clicked="CloseEditEnterpriseModalAsync" />
            </ModalHeader>
            <ModalBody>
                <Validations @ref="@EditingEnterpriseValidations"
                            Mode="ValidationMode.Auto"
                            Model="@EditingEnterprise"
                            ValidateOnLoad="false">
                    
                    <Validation>
                        <Field>
                            <FieldLabel>@L["EnterpriseName"] *</FieldLabel>
                            <TextEdit @bind-Text="@EditingEnterprise.EnterpriseName" >
                                <Feedback>
                                    <ValidationError />
                                </Feedback>
                            </TextEdit>
                        </Field>
                    </Validation>


                    <Validation>
                        <Field>
                            <FieldLabel>@L["ArtificialPerson"] *</FieldLabel>
                            <TextEdit @bind-Text="@EditingEnterprise.ArtificialPerson" >
                                <Feedback>
                                    <ValidationError />
                                </Feedback>
                            </TextEdit>
                        </Field>
                    </Validation>


                    <Validation>
                        <Field>
                            <FieldLabel>@L["EstablishedTime"] *</FieldLabel>
                            <NumericEdit TValue="long" @bind-Value="@EditingEnterprise.EstablishedTime" >
                                <Feedback>
                                    <ValidationError />
                                </Feedback>
                             </NumericEdit>
                        </Field>
                     </Validation>


                    <Validation>
                        <Field>
                            <FieldLabel>@L["DueTime"]</FieldLabel>
                            <NumericEdit TValue="long" @bind-Value="@EditingEnterprise.DueTime" >
                                <Feedback>
                                    <ValidationError />
                                </Feedback>
                             </NumericEdit>
                        </Field>
                     </Validation>


                    <Validation>
                        <Field>
                            <FieldLabel>@L["CreditCode"] *</FieldLabel>
                            <TextEdit @bind-Text="@EditingEnterprise.CreditCode" >
                                <Feedback>
                                    <ValidationError />
                                </Feedback>
                            </TextEdit>
                        </Field>
                    </Validation>


                    <Validation>
                        <Field>
                            <FieldLabel>@L["ArtificialPersonId"] *</FieldLabel>
                            <TextEdit @bind-Text="@EditingEnterprise.ArtificialPersonId" >
                                <Feedback>
                                    <ValidationError />
                                </Feedback>
                            </TextEdit>
                        </Field>
                    </Validation>


                    <Validation>
                        <Field>
                            <FieldLabel>@L["RegisteredCapital"] *</FieldLabel>
                            <TextEdit @bind-Text="@EditingEnterprise.RegisteredCapital" >
                                <Feedback>
                                    <ValidationError />
                                </Feedback>
                            </TextEdit>
                        </Field>
                    </Validation>


                    <Validation>
                        <Field>
                            <FieldLabel>@L["PhoneNumber"] *</FieldLabel>
                            <TextEdit @bind-Text="@EditingEnterprise.PhoneNumber" >
                                <Feedback>
                                    <ValidationError />
                                </Feedback>
                            </TextEdit>
                        </Field>
                    </Validation>


                    <Validation>
                        <Field>
                            <FieldLabel>@L["CertPhotoPath"] *</FieldLabel>
                            <TextEdit @bind-Text="@EditingEnterprise.CertPhotoPath" >
                                <Feedback>
                                    <ValidationError />
                                </Feedback>
                            </TextEdit>
                        </Field>
                    </Validation>


                    <Validation>
                        <Field>
                            <FieldLabel>@L["IdPhotoPath1"] *</FieldLabel>
                            <TextEdit @bind-Text="@EditingEnterprise.IdPhotoPath1" >
                                <Feedback>
                                    <ValidationError />
                                </Feedback>
                            </TextEdit>
                        </Field>
                    </Validation>


                    <Validation>
                        <Field>
                            <FieldLabel>@L["IdPhotoPath2"] *</FieldLabel>
                            <TextEdit @bind-Text="@EditingEnterprise.IdPhotoPath2" >
                                <Feedback>
                                    <ValidationError />
                                </Feedback>
                            </TextEdit>
                        </Field>
                    </Validation>


                    <Field>
                        <FieldLabel>@L["CertificateStatus"]</FieldLabel>
                        <Select TValue="CertificateStatus" @bind-SelectedValue="@EditingEnterprise.CertificateStatus">
                            @foreach (var itemValue in Enum.GetValues(typeof(CertificateStatus)))
                            {
                                <SelectItem TValue="CertificateStatus" Value="@((CertificateStatus) itemValue)">
                                    @L[$"Enum:CertificateStatus:{Convert.ToInt32(itemValue)}"]
                                </SelectItem>
                            }
                        </Select>
                    </Field>


                </Validations>
            </ModalBody>
            <ModalFooter>
                <Button Color="Color.Secondary"
                        Clicked="CloseEditEnterpriseModalAsync">
                    @L["Cancel"]
                </Button>
                <SubmitButton Form="CreateEnterpriseForm" Clicked="UpdateEnterpriseAsync" />
            </ModalFooter>
        </Form>
    </ModalContent>
</Modal>
