@page "/enterprise-details"
@attribute [Authorize(FinancingPermissions.EnterpriseDetails.Default)]
@using Tank.Financing.EnterpriseDetails
@using Tank.Financing.Localization
@using Tank.Financing.Shared
@using Microsoft.AspNetCore.Authorization
@using Microsoft.Extensions.Localization
@using Blazorise.Components
@using Volo.Abp.BlazoriseUI.Components
@using Volo.Abp.ObjectMapping
@using Volo.Abp.AspNetCore.Components.Messages
@using Volo.Abp.AspNetCore.Components.Web.Theming.Layout
@using Tank.Financing.Permissions
@inherits FinancingComponentBase
@inject IEnterpriseDetailsAppService EnterpriseDetailsAppService
@inject IUiMessageService UiMessageService

@* ************************* PAGE HEADER ************************* *@
<PageHeader Title="@L["EnterpriseDetails"]" BreadcrumbItems="BreadcrumbItems" Toolbar="Toolbar">

</PageHeader>

@* ************************* SEARCH ************************* *@
<Card>
    <CardBody>
        <Form id="EnterpriseDetailSearchForm" class="mb-3">
            <Addons>
                <Addon AddonType="AddonType.Body">
                    <TextEdit @bind-Text="@Filter.FilterText"
                              Autofocus="true"
                              Placeholder="@L["Search"]">
                    </TextEdit>
                </Addon>
                <Addon AddonType="AddonType.End">
                    <SubmitButton Form="EnterpriseDetailSearchForm" Clicked="GetEnterpriseDetailsAsync">
                        <Icon Name="IconName.Search" Class="me-1"></Icon>@L["Search"]
                    </SubmitButton>
                </Addon>
            </Addons>
        </Form>
    </CardBody>
</Card>

@* ************************* DATA GRID ************************* *@
<Card>
    <CardBody>
        <DataGrid TItem="EnterpriseDetailDto"
                  Data="EnterpriseDetailList"
                  ReadData="OnDataGridReadAsync"
                  TotalItems="TotalCount"
                  ShowPager="true"
                  Responsive="true"
                  PageSize="PageSize">
            <DataGridColumns>
                <DataGridEntityActionsColumn TItem="EnterpriseDetailDto" @ref="@EntityActionsColumn">
                    <DisplayTemplate>
                        <EntityActions TItem="EnterpriseDetailDto" EntityActionsColumn="@EntityActionsColumn">
                            <EntityAction TItem="EnterpriseDetailDto"
                                          Visible="@CanEditEnterpriseDetail"
                                          Clicked="async () => await OpenEditEnterpriseDetailModalAsync(context)"
                                          Text="@L["Edit"]"></EntityAction>
                            <EntityAction TItem="EnterpriseDetailDto"
                                          Visible="@CanDeleteEnterpriseDetail"
                                          Clicked="() => DeleteEnterpriseDetailAsync(context)"
                                          ConfirmationMessage="@(()=> L["DeleteConfirmationMessage"])"
                                          Text="@L["Delete"]"></EntityAction>
                        </EntityActions>
                    </DisplayTemplate>
                </DataGridEntityActionsColumn>
               
              <DataGridColumn TItem="EnterpriseDetailDto"
                      Field="EnterpriseName"
                      Caption="@L["EnterpriseName"]">
              </DataGridColumn>

              <DataGridColumn TItem="EnterpriseDetailDto"
                      Field="TotalAssets"
                      Caption="@L["TotalAssets"]">
              </DataGridColumn>

              <DataGridColumn TItem="EnterpriseDetailDto"
                      Field="Income"
                      Caption="@L["Income"]">
              </DataGridColumn>

              <DataGridColumn TItem="EnterpriseDetailDto"
                      Field="EnterpriseType"
                      Caption="@L["EnterpriseType"]">
              </DataGridColumn>

              <DataGridColumn TItem="EnterpriseDetailDto"
                      Field="StaffNumber"
                      Caption="@L["StaffNumber"]">
              </DataGridColumn>

              <DataGridColumn TItem="EnterpriseDetailDto"
                      Field="Industry"
                      Caption="@L["Industry"]">
              </DataGridColumn>

              <DataGridColumn TItem="EnterpriseDetailDto"
                      Field="Location"
                      Caption="@L["Location"]">
              </DataGridColumn>

              <DataGridColumn TItem="EnterpriseDetailDto"
                      Field="RegisteredAddress"
                      Caption="@L["RegisteredAddress"]">
              </DataGridColumn>

              <DataGridColumn TItem="EnterpriseDetailDto"
                      Field="BusinessAddress"
                      Caption="@L["BusinessAddress"]">
              </DataGridColumn>

              <DataGridColumn TItem="EnterpriseDetailDto"
                      Field="BusinessScope"
                      Caption="@L["BusinessScope"]">
              </DataGridColumn>

              <DataGridColumn TItem="EnterpriseDetailDto"
                      Field="Description"
                      Caption="@L["Description"]">
              </DataGridColumn>

            </DataGridColumns>
        </DataGrid>
    </CardBody>
</Card>

@* ************************* CREATE MODAL ************************* *@
<Modal @ref="CreateEnterpriseDetailModal">
    <ModalContent Centered="true">
        <Form id="CreateEnterpriseDetailForm">
            <ModalHeader>
                <ModalTitle>@L["NewEnterpriseDetail"]</ModalTitle>
                <CloseButton Clicked="CloseCreateEnterpriseDetailModalAsync" />
            </ModalHeader>
            <ModalBody>
                <Validations @ref="@NewEnterpriseDetailValidations"
                            Mode="ValidationMode.Auto"
                            Model="@NewEnterpriseDetail"
                            ValidateOnLoad="false">
                    
                    <Validation>
                        <Field>
                            <FieldLabel>@L["EnterpriseName"] *</FieldLabel>
                            <TextEdit @bind-Text="@NewEnterpriseDetail.EnterpriseName" >
                                <Feedback>
                                    <ValidationError />
                                </Feedback>
                            </TextEdit>
                        </Field>
                    </Validation>


                    <Validation>
                        <Field>
                            <FieldLabel>@L["TotalAssets"] *</FieldLabel>
                            <TextEdit @bind-Text="@NewEnterpriseDetail.TotalAssets" >
                                <Feedback>
                                    <ValidationError />
                                </Feedback>
                            </TextEdit>
                        </Field>
                    </Validation>


                    <Validation>
                        <Field>
                            <FieldLabel>@L["Income"] *</FieldLabel>
                            <TextEdit @bind-Text="@NewEnterpriseDetail.Income" >
                                <Feedback>
                                    <ValidationError />
                                </Feedback>
                            </TextEdit>
                        </Field>
                    </Validation>


                    <Validation>
                        <Field>
                            <FieldLabel>@L["EnterpriseType"] *</FieldLabel>
                            <TextEdit @bind-Text="@NewEnterpriseDetail.EnterpriseType" >
                                <Feedback>
                                    <ValidationError />
                                </Feedback>
                            </TextEdit>
                        </Field>
                    </Validation>


                    <Validation>
                        <Field>
                            <FieldLabel>@L["StaffNumber"] *</FieldLabel>
                            <NumericEdit TValue="int" @bind-Value="@NewEnterpriseDetail.StaffNumber" >
                                <Feedback>
                                    <ValidationError />
                                </Feedback>
                             </NumericEdit>
                        </Field>
                     </Validation>


                    <Validation>
                        <Field>
                            <FieldLabel>@L["Industry"] *</FieldLabel>
                            <TextEdit @bind-Text="@NewEnterpriseDetail.Industry" >
                                <Feedback>
                                    <ValidationError />
                                </Feedback>
                            </TextEdit>
                        </Field>
                    </Validation>


                    <Validation>
                        <Field>
                            <FieldLabel>@L["Location"] *</FieldLabel>
                            <TextEdit @bind-Text="@NewEnterpriseDetail.Location" >
                                <Feedback>
                                    <ValidationError />
                                </Feedback>
                            </TextEdit>
                        </Field>
                    </Validation>


                    <Validation>
                        <Field>
                            <FieldLabel>@L["RegisteredAddress"] *</FieldLabel>
                            <TextEdit @bind-Text="@NewEnterpriseDetail.RegisteredAddress" >
                                <Feedback>
                                    <ValidationError />
                                </Feedback>
                            </TextEdit>
                        </Field>
                    </Validation>


                    <Validation>
                        <Field>
                            <FieldLabel>@L["BusinessAddress"] *</FieldLabel>
                            <TextEdit @bind-Text="@NewEnterpriseDetail.BusinessAddress" >
                                <Feedback>
                                    <ValidationError />
                                </Feedback>
                            </TextEdit>
                        </Field>
                    </Validation>


                    <Validation>
                        <Field>
                            <FieldLabel>@L["BusinessScope"] *</FieldLabel>
                            <TextEdit @bind-Text="@NewEnterpriseDetail.BusinessScope" >
                                <Feedback>
                                    <ValidationError />
                                </Feedback>
                            </TextEdit>
                        </Field>
                    </Validation>


                    <Validation>
                        <Field>
                            <FieldLabel>@L["Description"] *</FieldLabel>
                            <TextEdit @bind-Text="@NewEnterpriseDetail.Description" >
                                <Feedback>
                                    <ValidationError />
                                </Feedback>
                            </TextEdit>
                        </Field>
                    </Validation>


                </Validations>
            </ModalBody>
            <ModalFooter>
                <Button Color="Color.Secondary"
                        Clicked="CloseCreateEnterpriseDetailModalAsync">
                    @L["Cancel"]
                </Button>
                <SubmitButton Form="CreateEnterpriseDetailForm" Clicked="CreateEnterpriseDetailAsync" />
            </ModalFooter>
        </Form>
    </ModalContent>
</Modal>

@* ************************* EDIT MODAL ************************* *@
<Modal @ref="EditEnterpriseDetailModal">
    <ModalContent Centered="true">
        <Form id="EditEnterpriseDetailForm">
            <ModalHeader>
                <ModalTitle>@L["Update"]</ModalTitle>
                <CloseButton Clicked="CloseEditEnterpriseDetailModalAsync" />
            </ModalHeader>
            <ModalBody>
                <Validations @ref="@EditingEnterpriseDetailValidations"
                            Mode="ValidationMode.Auto"
                            Model="@EditingEnterpriseDetail"
                            ValidateOnLoad="false">
                    
                    <Validation>
                        <Field>
                            <FieldLabel>@L["EnterpriseName"] *</FieldLabel>
                            <TextEdit @bind-Text="@EditingEnterpriseDetail.EnterpriseName" >
                                <Feedback>
                                    <ValidationError />
                                </Feedback>
                            </TextEdit>
                        </Field>
                    </Validation>


                    <Validation>
                        <Field>
                            <FieldLabel>@L["TotalAssets"] *</FieldLabel>
                            <TextEdit @bind-Text="@EditingEnterpriseDetail.TotalAssets" >
                                <Feedback>
                                    <ValidationError />
                                </Feedback>
                            </TextEdit>
                        </Field>
                    </Validation>


                    <Validation>
                        <Field>
                            <FieldLabel>@L["Income"] *</FieldLabel>
                            <TextEdit @bind-Text="@EditingEnterpriseDetail.Income" >
                                <Feedback>
                                    <ValidationError />
                                </Feedback>
                            </TextEdit>
                        </Field>
                    </Validation>


                    <Validation>
                        <Field>
                            <FieldLabel>@L["EnterpriseType"] *</FieldLabel>
                            <TextEdit @bind-Text="@EditingEnterpriseDetail.EnterpriseType" >
                                <Feedback>
                                    <ValidationError />
                                </Feedback>
                            </TextEdit>
                        </Field>
                    </Validation>


                    <Validation>
                        <Field>
                            <FieldLabel>@L["StaffNumber"] *</FieldLabel>
                            <NumericEdit TValue="int" @bind-Value="@EditingEnterpriseDetail.StaffNumber" >
                                <Feedback>
                                    <ValidationError />
                                </Feedback>
                             </NumericEdit>
                        </Field>
                     </Validation>


                    <Validation>
                        <Field>
                            <FieldLabel>@L["Industry"] *</FieldLabel>
                            <TextEdit @bind-Text="@EditingEnterpriseDetail.Industry" >
                                <Feedback>
                                    <ValidationError />
                                </Feedback>
                            </TextEdit>
                        </Field>
                    </Validation>


                    <Validation>
                        <Field>
                            <FieldLabel>@L["Location"] *</FieldLabel>
                            <TextEdit @bind-Text="@EditingEnterpriseDetail.Location" >
                                <Feedback>
                                    <ValidationError />
                                </Feedback>
                            </TextEdit>
                        </Field>
                    </Validation>


                    <Validation>
                        <Field>
                            <FieldLabel>@L["RegisteredAddress"] *</FieldLabel>
                            <TextEdit @bind-Text="@EditingEnterpriseDetail.RegisteredAddress" >
                                <Feedback>
                                    <ValidationError />
                                </Feedback>
                            </TextEdit>
                        </Field>
                    </Validation>


                    <Validation>
                        <Field>
                            <FieldLabel>@L["BusinessAddress"] *</FieldLabel>
                            <TextEdit @bind-Text="@EditingEnterpriseDetail.BusinessAddress" >
                                <Feedback>
                                    <ValidationError />
                                </Feedback>
                            </TextEdit>
                        </Field>
                    </Validation>


                    <Validation>
                        <Field>
                            <FieldLabel>@L["BusinessScope"] *</FieldLabel>
                            <TextEdit @bind-Text="@EditingEnterpriseDetail.BusinessScope" >
                                <Feedback>
                                    <ValidationError />
                                </Feedback>
                            </TextEdit>
                        </Field>
                    </Validation>


                    <Validation>
                        <Field>
                            <FieldLabel>@L["Description"] *</FieldLabel>
                            <TextEdit @bind-Text="@EditingEnterpriseDetail.Description" >
                                <Feedback>
                                    <ValidationError />
                                </Feedback>
                            </TextEdit>
                        </Field>
                    </Validation>


                </Validations>
            </ModalBody>
            <ModalFooter>
                <Button Color="Color.Secondary"
                        Clicked="CloseEditEnterpriseDetailModalAsync">
                    @L["Cancel"]
                </Button>
                <SubmitButton Form="CreateEnterpriseDetailForm" Clicked="UpdateEnterpriseDetailAsync" />
            </ModalFooter>
        </Form>
    </ModalContent>
</Modal>
