@page "/financial-products"
@attribute [Authorize(FinancingPermissions.FinancialProducts.Default)]
@using Tank.Financing.FinancialProducts
@using Tank.Financing.Localization
@using Tank.Financing.Shared
@using Microsoft.AspNetCore.Authorization
@using Microsoft.Extensions.Localization
@using Blazorise.Components
@using Volo.Abp.BlazoriseUI.Components
@using Volo.Abp.ObjectMapping
@using Volo.Abp.AspNetCore.Components.Messages
@using Volo.Abp.AspNetCore.Components.Web.Theming.Layout
@using Tank.Financing.Permissions
@inherits FinancingComponentBase
@inject IFinancialProductsAppService FinancialProductsAppService
@inject IUiMessageService UiMessageService
@using Tank.Financing


@* ************************* PAGE HEADER ************************* *@
<PageHeader Title="@L["FinancialProducts"]" BreadcrumbItems="BreadcrumbItems" Toolbar="Toolbar">

</PageHeader>

@* ************************* SEARCH ************************* *@
<Card>
    <CardBody>
        <Form id="FinancialProductSearchForm" class="mb-3">
            <Addons>
                <Addon AddonType="AddonType.Body">
                    <TextEdit @bind-Text="@Filter.FilterText"
                              Autofocus="true"
                              Placeholder="@L["Search"]">
                    </TextEdit>
                </Addon>
                <Addon AddonType="AddonType.End">
                    <SubmitButton Form="FinancialProductSearchForm" Clicked="GetFinancialProductsAsync">
                        <Icon Name="IconName.Search" Class="me-1"></Icon>@L["Search"]
                    </SubmitButton>
                </Addon>
            </Addons>
        </Form>
    </CardBody>
</Card>

@* ************************* DATA GRID ************************* *@
<Card>
    <CardBody>
        <DataGrid TItem="FinancialProductDto"
                  Data="FinancialProductList"
                  ReadData="OnDataGridReadAsync"
                  TotalItems="TotalCount"
                  ShowPager="true"
                  Responsive="true"
                  PageSize="PageSize">
            <DataGridColumns>
                <DataGridEntityActionsColumn TItem="FinancialProductDto" @ref="@EntityActionsColumn">
                    <DisplayTemplate>
                        <EntityActions TItem="FinancialProductDto" EntityActionsColumn="@EntityActionsColumn">
                            <EntityAction TItem="FinancialProductDto"
                                          Visible="@CanEditFinancialProduct"
                                          Clicked="async () => await OpenEditFinancialProductModalAsync(context)"
                                          Text="@L["Edit"]"></EntityAction>
                            <EntityAction TItem="FinancialProductDto"
                                          Visible="@CanDeleteFinancialProduct"
                                          Clicked="() => DeleteFinancialProductAsync(context)"
                                          ConfirmationMessage="@(()=> L["DeleteConfirmationMessage"])"
                                          Text="@L["Delete"]"></EntityAction>
                        </EntityActions>
                    </DisplayTemplate>
                </DataGridEntityActionsColumn>
               
              <DataGridColumn TItem="FinancialProductDto"
                      Field="Period"
                      Caption="@L["Period"]">
              </DataGridColumn>

              <DataGridColumn TItem="FinancialProductDto"
                      Field="GuaranteeMethod"
                      Caption="@L["GuaranteeMethod"]">
                    <DisplayTemplate>
                        @L[$"Enum:GuaranteeMethod:{Convert.ToInt32(context.GuaranteeMethod)}"]
                    </DisplayTemplate>
              </DataGridColumn>


              <DataGridColumn TItem="FinancialProductDto"
                      Field="CreditCeiling"
                      Caption="@L["CreditCeiling"]">
              </DataGridColumn>

              <DataGridColumn TItem="FinancialProductDto"
                      Field="Organization"
                      Caption="@L["Organization"]">
              </DataGridColumn>

              <DataGridColumn TItem="FinancialProductDto"
                      Field="AppliedNumber"
                      Caption="@L["AppliedNumber"]">
              </DataGridColumn>

              <DataGridColumn TItem="FinancialProductDto"
                      Field="APR"
                      Caption="@L["APR"]">
              </DataGridColumn>

              <DataGridColumn TItem="FinancialProductDto"
                      Field="Rating"
                      Caption="@L["Rating"]">
              </DataGridColumn>

              <DataGridColumn TItem="FinancialProductDto"
                      Field="Name"
                      Caption="@L["Name"]">
              </DataGridColumn>

            </DataGridColumns>
        </DataGrid>
    </CardBody>
</Card>

@* ************************* CREATE MODAL ************************* *@
<Modal @ref="CreateFinancialProductModal">
    <ModalContent Centered="true">
        <Form id="CreateFinancialProductForm">
            <ModalHeader>
                <ModalTitle>@L["NewFinancialProduct"]</ModalTitle>
                <CloseButton Clicked="CloseCreateFinancialProductModalAsync" />
            </ModalHeader>
            <ModalBody>
                <Validations @ref="@NewFinancialProductValidations"
                            Mode="ValidationMode.Auto"
                            Model="@NewFinancialProduct"
                            ValidateOnLoad="false">
                    
                    <Validation>
                        <Field>
                            <FieldLabel>@L["Period"] *</FieldLabel>
                            <NumericEdit TValue="int" @bind-Value="@NewFinancialProduct.Period"  Min="FinancialProductConsts.PeriodMinLength" Max="FinancialProductConsts.PeriodMaxLength">
                                <Feedback>
                                    <ValidationError />
                                </Feedback>
                             </NumericEdit>
                        </Field>
                     </Validation>


                    <Field>
                        <FieldLabel>@L["GuaranteeMethod"]</FieldLabel>
                        <Select TValue="GuaranteeMethod" @bind-SelectedValue="@NewFinancialProduct.GuaranteeMethod">
                            @foreach (var itemValue in Enum.GetValues(typeof(GuaranteeMethod)))
                            {
                                <SelectItem TValue="GuaranteeMethod" Value="@((GuaranteeMethod) itemValue)">
                                    @L[$"Enum:GuaranteeMethod:{Convert.ToInt32(itemValue)}"]
                                </SelectItem>
                            }
                        </Select>
                    </Field>


                    <Validation>
                        <Field>
                            <FieldLabel>@L["CreditCeiling"] *</FieldLabel>
                            <TextEdit @bind-Text="@NewFinancialProduct.CreditCeiling" >
                                <Feedback>
                                    <ValidationError />
                                </Feedback>
                            </TextEdit>
                        </Field>
                    </Validation>


                    <Validation>
                        <Field>
                            <FieldLabel>@L["Organization"] *</FieldLabel>
                            <TextEdit @bind-Text="@NewFinancialProduct.Organization" MaxLength="FinancialProductConsts.OrganizationMaxLength">
                                <Feedback>
                                    <ValidationError />
                                </Feedback>
                            </TextEdit>
                        </Field>
                    </Validation>


                    <Validation>
                        <Field>
                            <FieldLabel>@L["AppliedNumber"]</FieldLabel>
                            <NumericEdit TValue="int?" @bind-Value="@NewFinancialProduct.AppliedNumber" >
                                <Feedback>
                                    <ValidationError />
                                </Feedback>
                             </NumericEdit>
                        </Field>
                     </Validation>


                    <Validation>
                        <Field>
                            <FieldLabel>@L["APR"] *</FieldLabel>
                            <TextEdit @bind-Text="@NewFinancialProduct.APR" >
                                <Feedback>
                                    <ValidationError />
                                </Feedback>
                            </TextEdit>
                        </Field>
                    </Validation>


                    <Validation>
                        <Field>
                            <FieldLabel>@L["Rating"]</FieldLabel>
                            <TextEdit @bind-Text="@NewFinancialProduct.Rating" >
                                <Feedback>
                                    <ValidationError />
                                </Feedback>
                            </TextEdit>
                        </Field>
                    </Validation>


                    <Validation>
                        <Field>
                            <FieldLabel>@L["Name"] *</FieldLabel>
                            <TextEdit @bind-Text="@NewFinancialProduct.Name" >
                                <Feedback>
                                    <ValidationError />
                                </Feedback>
                            </TextEdit>
                        </Field>
                    </Validation>


                </Validations>
            </ModalBody>
            <ModalFooter>
                <Button Color="Color.Secondary"
                        Clicked="CloseCreateFinancialProductModalAsync">
                    @L["Cancel"]
                </Button>
                <SubmitButton Form="CreateFinancialProductForm" Clicked="CreateFinancialProductAsync" />
            </ModalFooter>
        </Form>
    </ModalContent>
</Modal>

@* ************************* EDIT MODAL ************************* *@
<Modal @ref="EditFinancialProductModal">
    <ModalContent Centered="true">
        <Form id="EditFinancialProductForm">
            <ModalHeader>
                <ModalTitle>@L["Update"]</ModalTitle>
                <CloseButton Clicked="CloseEditFinancialProductModalAsync" />
            </ModalHeader>
            <ModalBody>
                <Validations @ref="@EditingFinancialProductValidations"
                            Mode="ValidationMode.Auto"
                            Model="@EditingFinancialProduct"
                            ValidateOnLoad="false">
                    
                    <Validation>
                        <Field>
                            <FieldLabel>@L["Period"] *</FieldLabel>
                            <NumericEdit TValue="int" @bind-Value="@EditingFinancialProduct.Period"  Min="FinancialProductConsts.PeriodMinLength" Max="FinancialProductConsts.PeriodMaxLength">
                                <Feedback>
                                    <ValidationError />
                                </Feedback>
                             </NumericEdit>
                        </Field>
                     </Validation>


                    <Field>
                        <FieldLabel>@L["GuaranteeMethod"]</FieldLabel>
                        <Select TValue="GuaranteeMethod" @bind-SelectedValue="@EditingFinancialProduct.GuaranteeMethod">
                            @foreach (var itemValue in Enum.GetValues(typeof(GuaranteeMethod)))
                            {
                                <SelectItem TValue="GuaranteeMethod" Value="@((GuaranteeMethod) itemValue)">
                                    @L[$"Enum:GuaranteeMethod:{Convert.ToInt32(itemValue)}"]
                                </SelectItem>
                            }
                        </Select>
                    </Field>


                    <Validation>
                        <Field>
                            <FieldLabel>@L["CreditCeiling"] *</FieldLabel>
                            <TextEdit @bind-Text="@EditingFinancialProduct.CreditCeiling" >
                                <Feedback>
                                    <ValidationError />
                                </Feedback>
                            </TextEdit>
                        </Field>
                    </Validation>


                    <Validation>
                        <Field>
                            <FieldLabel>@L["Organization"] *</FieldLabel>
                            <TextEdit @bind-Text="@EditingFinancialProduct.Organization" MaxLength="FinancialProductConsts.OrganizationMaxLength">
                                <Feedback>
                                    <ValidationError />
                                </Feedback>
                            </TextEdit>
                        </Field>
                    </Validation>


                    <Validation>
                        <Field>
                            <FieldLabel>@L["AppliedNumber"]</FieldLabel>
                            <NumericEdit TValue="int?" @bind-Value="@EditingFinancialProduct.AppliedNumber" >
                                <Feedback>
                                    <ValidationError />
                                </Feedback>
                             </NumericEdit>
                        </Field>
                     </Validation>


                    <Validation>
                        <Field>
                            <FieldLabel>@L["APR"] *</FieldLabel>
                            <TextEdit @bind-Text="@EditingFinancialProduct.APR" >
                                <Feedback>
                                    <ValidationError />
                                </Feedback>
                            </TextEdit>
                        </Field>
                    </Validation>


                    <Validation>
                        <Field>
                            <FieldLabel>@L["Rating"]</FieldLabel>
                            <TextEdit @bind-Text="@EditingFinancialProduct.Rating" >
                                <Feedback>
                                    <ValidationError />
                                </Feedback>
                            </TextEdit>
                        </Field>
                    </Validation>


                    <Validation>
                        <Field>
                            <FieldLabel>@L["Name"] *</FieldLabel>
                            <TextEdit @bind-Text="@EditingFinancialProduct.Name" >
                                <Feedback>
                                    <ValidationError />
                                </Feedback>
                            </TextEdit>
                        </Field>
                    </Validation>


                </Validations>
            </ModalBody>
            <ModalFooter>
                <Button Color="Color.Secondary"
                        Clicked="CloseEditFinancialProductModalAsync">
                    @L["Cancel"]
                </Button>
                <SubmitButton Form="CreateFinancialProductForm" Clicked="UpdateFinancialProductAsync" />
            </ModalFooter>
        </Form>
    </ModalContent>
</Modal>
